.slider-skeleton {
	@apply h-auto mb-0 !important;
}

.slider-skeleton .ant-skeleton-avatar {
	@apply h-[436px] !important;
	@apply rounded-2xl;
}

.slider-product .swiper {
	@apply w-full h-[436px];
}

.slider-product .swiper-slide {
	@apply text-center text-lg bg-white flex justify-center items-center;
}

.slider-product .swiper-slide .ant-image {
	@apply block w-full h-full overflow-hidden md:rounded-2xl rounded-none;
}

.slider-product .swiper {
	@apply mx-auto;
}

.slider-product .swiper-pagination .swiper-pagination-bullet {
	@apply w-[6px] h-[6px] mx-[3px] bg-[#c4c4c4] border-solid border border-[#7126b5] opacity-100;
}

.slider-product .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
	@apply bg-[#7126b5];
}

.slider-product .swiper-button-prev,
.slider-product .swiper-button-next {
	@apply w-[30px] h-[30px] flex items-center justify-center bg-white shadow-custom rounded-full transition-all ease-in-out duration-300;
	transform: scale(1);
}

.slider-product .swiper-button-prev:hover,
.slider-product .swiper-button-next:hover {
	@apply bg-[#7126b5];
	transform: scale(1.2);
}

.slider-product .swiper-button-prev::after,
.slider-product .swiper-button-next::after {
	@apply text-[13px] font-extrabold text-[#8a8a8a] transition-all ease-in-out duration-300;
	text-shadow: 0px 0px 1px #8a8a8a;
}

.slider-product .swiper-button-prev:hover::after,
.slider-product .swiper-button-next:hover::after {
	@apply text-white;
	text-shadow: 0px 0px 1px #ffffff;
}

@media screen and (max-width: 767px) {
	.slider-product {
		@apply mt-0 mx-[-1rem] mb-[-40px];
	}

	.slider-product .swiper {
		@apply w-full h-[300px];
	}

	.slider-product .swiper-pagination {
		@apply bottom-[51px];
	}

	.slider-product .swiper-button-prev,
	.slider-product .swiper-button-next {
		@apply hidden;
	}

	.slider-product .swiper-pagination .swiper-pagination-bullet {
		@apply w-[6px] h-[6px] mx-[3px] bg-transparent border border-solid border-white opacity-100;
	}

	.slider-product .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
		@apply bg-white;
	}
}
